<div class="row subheader">
  <div class="subheader-titles">
    <h2 class="subheader-title"><%= 'New Client' %></h2>
  </div>
</div>

<%= render 'form', client: @client %>

<%= link_to 'Back', clients_path %>
