<div class="row subheader">
  <div class="subheader-titles">
    <h2 class="subheader-title"><%= 'New Order' %></h2>
  </div>
</div>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
