<div class="row panel" data-params="one">
  <%= simple_form_for @address do |f| %>
    <%= f.error_notification %>

    <%= render :partial => 'address_fields', locals: { :f => f} %>

    <div class="actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
