<div class="row subheader">
  <div class="subheader-titles">
    <h2 class="subheader-title"><%= 'Editing Unit' %></h2>
  </div>
</div>

<%= render 'form', unit: @unit %>

<%= link_to 'Show', @unit %> |
<%= link_to 'Back', units_path %>
