<div class="row subheader">
  <div class="subheader-titles">
    <h2 class="subheader-title"><%= 'New Product' %></h2>
  </div>
</div>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
